

.title {
  position: relative;
  margin-top:100px;
  width: 100%;
  text-align: center;
  font-family: 'Get Schwifty';
  font-size: 160px;
  color: #08BAE3;
  z-index: 50;
  -webkit-text-stroke: 2px #e5e973;

  span {
    font-size: 80px;
  }

  .subtitle{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media only screen and (max-width:1400px){
    font-size: 130px;
    span {
      font-size: 70px;
    }
    .subtitle{
      top: 130px;
    }
  }

  @media only screen and (max-width:1200px){
    font-size: 120px;
    -webkit-text-stroke: 2px #e5e973;
    span {
      font-size: 60px;
    }
    .subtitle{
      top: 110px;
    }
  }

  @media only screen and (max-width:992px){
    font-size: 100px;
    span {
      font-size: 50px;
    }
    .subtitle{
      top: 90px;
    }
  }

  @media only screen and (max-width:768px){
    font-size: 80px;
    -webkit-text-stroke: 1px #e5e973;
    span {
      font-size: 40px;
    }
    .subtitle{
      top: 70px;
    }
  }

  @media only screen and (max-width:576px){
    font-size: 60px;
    span {
      font-size: 30px;
    }
    .subtitle{
      top: 55px;
    }
  }

  @media only screen and (max-width:400px){
    font-size: 40px;
    span {
      font-size: 20px;
    }
    .subtitle{
      top: 50px;
    }
  }

  @media only screen and (max-width:300px){
    font-size: 20px;
    span {
      font-size: 10px;
    }
    .subtitle{
      top: 20px;
    }
  }

}

@font-face {
  font-family: 'Get Schwifty';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}
