<div class="p-3 text-white">
  <h1><strong>Términos y Condiciones</strong></h1>
  <h4>Última actualización: 01/07/2024</h4>

  <main>
    <p>
      Bienvenido/a a mi portafolio profesional. A continuación, se detallan los Términos y Condiciones que rigen el uso
      de mi portafolio y los servicios proporcionados a través de los chatbots de WhatsApp. Al acceder y utilizar mi
      portafolio, usted acepta cumplir con estos Términos y Condiciones.
    </p>

    <section>
      <p>
        <span class="text-decoration-underline">1. Aceptación de los Términos</span><br>
        Al acceder y utilizar mi portafolio profesional, usted acepta y se compromete a cumplir con estos Términos y
        Condiciones, así como con todas las leyes y regulaciones aplicables. Si no está de acuerdo con estos términos,
        por favor no utilice mi portafolio.
      </p>
    </section>

    <section>
      <p>
        <span class="text-decoration-underline">2. Uso del Portafolio</span>
      </p>
      <ul>
        <li>2.1. Propósito del portafolio:
          Este portafolio profesional está diseñado para mostrar mis trabajos realizados, describir mi experiencia
          profesional
          y proporcionar mi currículum. Toda la información y el contenido presentados en el portafolio son de mi
          propiedad o
          están autorizados para su uso.
        </li>
        <li>2.2. Uso permitido:
          Usted puede visualizar, descargar e imprimir contenido de este portafolio para su uso personal y no comercial,
          siempre y cuando no modifique el contenido y mantenga intactos todos los avisos de derechos de autor y otros
          avisos
          de propiedad.
        </li>
      </ul>
    </section>

    <section>
      <p>
        <span class="text-decoration-underline">3. Interacción con Chatbots de WhatsApp</span>
      </p>

      <ul>
        <li> 3.1. Recolección de información:
          Los chatbots de WhatsApp que he desarrollado pueden solicitar información personal como su nombre, correo
          electrónico, número de teléfono y ubicación para prestarle el servicio solicitado. Al proporcionar esta
          información,
          usted consiente su uso conforme a nuestra Política de Privacidad.
        </li>
        <li>
          3.2. Uso de la información:
          La información recopilada a través de los chatbots será utilizada únicamente para los fines especificados en
          nuestra
          Política de Privacidad y para mejorar la calidad de los servicios ofrecidos.

        </li>
      </ul>
    </section>

    <section>
      <p>
        <span class="text-decoration-underline">4. Propiedad Intelectual</span><br>
        Todo el contenido presente en mi portafolio, incluidos textos, gráficos, logotipos, imágenes, y software, está
        protegido por derechos de autor, marcas registradas y otras leyes de propiedad intelectual. No se permite el uso
        no
        autorizado de este contenido sin mi permiso explícito por escrito.
      </p>
    </section>

    <section>
      <p>
        <span class="text-decoration-underline">5. Limitación de Responsabilidad</span>
      </p>

      <ul>
        <li>5.1. Exactitud del contenido:
          Hago todo lo posible por garantizar que la información presentada en mi portafolio sea precisa y esté
          actualizada.
          Sin embargo, no garantizo la exactitud, integridad o actualidad de dicha información.</li>
        <li>
          5.2. Uso del portafolio:
          El uso de mi portafolio es bajo su propio riesgo. No me hago responsable de ningún daño directo, indirecto,
          incidental o consecuente que pueda resultar del uso o la imposibilidad de usar mi portafolio o los servicios
          proporcionados a través de los chatbots de WhatsApp.
        </li>
      </ul>
    </section>

    <section>
      <p>
        <span class="text-decoration-underline">6. Modificaciones a los Términos y Condiciones</span><br>
        Me reservo el derecho de modificar estos Términos y Condiciones en cualquier momento. Cualquier cambio será
        efectivo
        inmediatamente después de su publicación en esta página. Es su responsabilidad revisar estos Términos y
        Condiciones
        periódicamente para estar al tanto de cualquier modificación.
      </p>
    </section>

    <section>
      <p>
        <span class="text-decoration-underline">7. Contacto</span><br>
        Si tiene alguna pregunta o inquietud sobre estos Términos y Condiciones, por favor póngase en contacto conmigo a
        través del correo electrónico <a href="mailto:colmenarescoronal@gmail.com">colmenarescoronal@gmail.com</a>. <br>
        Gracias por visitar mi portafolio profesional y utilizar mis servicios.
      </p>
    </section>
  </main>
</div>
