.nav-bar{
  position: fixed;
  top: 0;
  background: #19191a;
  background: radial-gradient(circle, rgb(36, 35, 35) 0%, #19191a 100%);
  z-index: 60;

  button{
    color: #ffff;
  }

  a{
    color: #ffff;
    font-size: 14px;
    text-decoration: none;
    &:hover{
      transform: scale(1.05);
    }
  }
}
