
<div class="container">
  <div class="row">
    <div class="parent">
      <div class="center-vertically">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 class="name">Guillermo Colmenares.</h1>
          <p class="description mb-4">
            Fullstack developer with 2 years of experience working
            with Angular framework and Node.js
          </p>
          <button class="btn btn-light"
          (click)="downloadCV('assets/pdf/Luis_Guillermo_Colmenares_Corona_CV.pdf')">
          Download CV
        </button>
        </div>
      </div>
    </div>
  </div>
</div>
