.container{}

.mat-dialog-title{
  color: green;
  font-weight: bold;
  @media screen and (max-width: 600px){
    text-align: center;
  }
}

mat-icon{
  cursor: pointer
}

img{
  border-radius: 50%;
}

.details-container{
  display: flex;
  align-items: center;
  gap: 20px;
  @media screen and (max-width: 600px){
    justify-content: center;
    flex-wrap: wrap;
  }
}

section{
  p{
    font-size: 20px;
    .characteristic{
      font-weight: 700;
    }
  }
}

