mat-card{
  width: 240px;
  height: 272px;
  background: none;
  box-shadow: none !important;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  &:hover{
    transform: scale(1.01);
  }
}

h1{
  color: rgb(241, 243, 241);
  text-align: center;
}

img{
  border-radius: 50%;
  border: 2px solid #ffeb00;
}

mat-dialog-container{
  background-color: #19191a !important;
}
